/* Sidebar.css */

/* 1. The Default (Open) State */
.sidebar {
   position: relative; /* Needed for absolute positioning */
  width: 250px;
  background-color: #f9f7fd;
  color: black;
  
  /* This tells the browser to animate the width smoothly */
  transition: width 0.3s ease; 
  
  /* These prevent text from wrapping to the next line when the box shrinks */
  overflow-x: hidden; 
  white-space: nowrap; 
  box-shadow: 2px 0 8px #0000001a;
  z-index: 1000;
  overflow-y: hidden;
    overflow-x: hidden;
    border-right: 1px solid #dee2e6;
}

.close-btn {
  position: absolute;
  top: 23px;
  right: -1px;
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
}
.logo{
  
}

/* 2. The Collapsed State */
.sidebar.collapsed {
  width: 70px;
}
@media (max-width: 768px) {

  /* When open on mobile */
  .sidebar {
    width: 250px;
  }

  .sidebar.collapsed {
    width: 0px;
  }
}